<div class="blue-grey-text darken-5 my-4">
  <h5>萬事起頭難</h5>
  
  <p>搞左成日，終於搞掂個site。 終於有自己個site啦。為左唔悲慘既歷史再一次重演。
    我決定寫低我到底係點樣set up呢個site，等第日自己可以睇翻。
  </p>

  <b>1. 首先，買server記</b>
  <p>
    講起慚愧，雖然我做左IT狗多年，但係搭建server都係未試過。自己幻想有自己website好多年，但係因為懶癌，遲遲都唔做。
    如果唔係今次真系火燒眼眉，睇來自己都係唔會做。
    <br>
    咁一開始梗係揀好出名既a字頭公司啦，於是我就註冊左個account，諗住大展身手啦。點知，入面D野超級複雜，對於咩都唔識既人來講簡直噩夢
    ，研究左兩個就放棄左（我仲將自己信用卡綁左落去，遲D記得remove個account）。 然後問google大神咩server好，於是就搵左另一間i字頭公司，
    超級平咁買左個host，set up埋domain。以為今次冇死。又點知！搵來搵去冇得ssh入去裝野。咁我就問cs點樣ssh入去啦，一問，先知道原來我個係share host，
    唔係vps。原來要vps先可以ssh，一開始我真系唔知咩係vps，次次都係人地幫我set server。
    <br>
    咁之後就要個cs幫我remove account 同退錢，但係到宜家（2018-2-15）都仲未remove account（遲D記得跟跟佢）
    <br>
    又過一日，我又再問google大神，有咩vps hosting好，於是就搵左一件v字頭公司。
  </p>
  
</div>
