b{
    font-size: 1.1rem;
}
code{
    background-color: #d1ecf1;
    padding:10px;
    display: block;
    border-radius: 5px;
    max-width: 100%;
}
pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
