
    
    <mat-chip-list>
      <mat-chip *ngFor="let tag of tags" (focus)="filterTags(tag.id)">{{tag.name}}</mat-chip>
    </mat-chip-list>
    <div class="" *ngFor="let blog of showblogs">
        <div class="">
          <div class="card ">
            <div class="card-content deep-purple-text darken-1">
              <span class="card-title ">{{blog.title}}</span>
              <span> {{blog.created_at}} </span>
              <p class="blue-grey-text darken-3" [innerHTML]="blog.content | slice:0:50"></p>
            </div>
            <div class="card-action">
              <a routerLink="/blog/{{blog.id}}">詳情</a>
            </div>
          </div>
        </div>
      </div>