/* You can add global styles to this file, and also import other style files */

@import '~bootstrap-css-only/css/bootstrap.css';
@import '~materialize-css/dist/css/materialize.css';



@font-face {
    font-family: IndieFlower;
    src: url(assets/fonts/IndieFlower.ttf);
}
@font-face {
    font-family: Questrial;
    src: url(assets/fonts/Questrial-Regular.ttf);
}


*{
    font-family: Questrial;
}
