/* You can add global styles to this file, and also import other style files */

/* @import '~bootstrap-css-only/css/bootstrap.css'; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~materialize-css/dist/css/materialize.css';

@import '~basscss-flexbox/css/flexbox.css';
@import '~basscss-grid/css/grid.css';
@import '~basscss-align/css/align.css';
@import '~basscss-margin/css/margin.css';
@import '~basscss-padding/css/padding.css';


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/type";


.mat-form-field-underline .mat-form-field-ripple{
    background-color: #26a69a;
}


@font-face {
    font-family: IndieFlower;
    src: url(assets/fonts/IndieFlower.ttf);
}
@font-face {
    font-family: Questrial;
    src: url(assets/fonts/Questrial-Regular.ttf);
}


*{
    font-family: Questrial;
}
